<%= login_required class: "actions", id: "new_blog_post_link" do %>
  <%= link_to t(:new_blog_post, scope: 'blogit.posts'), new_post_path %>
<% end %>

<%= render partial: "blogit/posts/sidebar" %>

<% if @posts.any? %>
  <section class="blog_posts">
    <%= render partial: "blogit/posts/post_preview",
      collection: @posts,
      as: :post,
      spacer_template: "blog_post_spacer",
      locals: {show_comments_count: (Blogit.configuration.include_comments == :active_records) }  %>
  </section>
<% else %>

  <%= render partial: "blogit/posts/empty" %>

<% end %>

<%= render "pagination" %>
