<%= login_required class: "actions", id: "new_blog_post_link" do %>
  <%= link_to t(:new_blog_post, scope: 'blogit.posts'), new_post_path %>
<% end %>

<div id="sidebar">
  <nav>
    <h2>Archive</h2>
    <ul>
      <% @posts_by_month.each do |month, posts| %>
        <li><%= link_to month.strftime('%B %Y'), blog_posts_archives_path(month.year, month.month) %></li>
      <% end %>
    </ul>

    <h2>Category</h2>
    <ul>
      <% @tags.each do |tag| %>
        <li><%= link_to tag.name, tagged_blog_posts_path(tag.name) %></li>
      <% end %>
    </ul>
  </nav>

  <%= render 'mailing_list_signup' %>

</div>

<% if @posts.any? %>

  <%= render partial: "blogit/posts/post",
    collection: @posts,
    spacer_template: "blog_post_spacer",
    locals: {show_comments_count: (Blogit.configuration.include_comments == :active_records) }  %>
<% else %>

  <%= render partial: "blogit/posts/empty" %>

<% end %>

<%= render "pagination" %>
